* {
    margin: 0;
    padding: 0;
}

main {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(./img/bg-3.avif);
    background-size: 100% 100%;
}

#inp {
    height: 7vh;
    border: none;
    border-radius: 6px;
    transition: .6s;
    text-align: center;
    background: transparent;
    backdrop-filter: blur(4px);
    border: 1px solid grey;
    color: #0DCAF0;
}

#inp:focus {
    box-shadow: inset 0px 0px 10px 5px #0DCAF0;
    transition: .6s;
    outline: none;
}

.pre {
    backdrop-filter: blur(2px);
}

.mainrow {
    backdrop-filter: blur(2px);
    border-radius: 5px;
    padding: 10px;
}

.over {
    overflow-y:visible;
    overflow-x:hidden;
    height: 70vh;
}
